.col-lg-3
  .panel
    .symbol.yellow
      %i.fa.fa-exclamation
    .value
      - due_count = current_studio.accounts.due.count
      %h1= due_count
      %p= link_to 'Due Accounts'.pluralize(due_count), reports_accounts_path(type: :due)

